@font-face {
  font-family: "Bodoni Moda";
  src: url('../public/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Bodoni Moda Italic";
  src: url('../public/fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Inconsolata";
  src: url('../public/fonts/Inconsolata/variable.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Playfair Display";
  src: url('../public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Playfair Display Italic";
  src: url('../public/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "PT Serif";
  src: url('../public/fonts/PT_Serif/PTSerif-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "PT Serif";
  src: url('../public/fonts/PT_Serif/PTSerif-Bold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "PT Serif Italic";
  src: url('../public/fonts/PT_Serif/PTSerif-Italic.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "PT Serif Italic";
  src: url('../public/fonts/PT_Serif/PTSerif-BoldItalic.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "Public Sans";
  src: url('../public/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Public Sans Italic";
  src: url('../public/fonts/Public_Sans/PublicSans-Italic-VariableFont_wght.ttf');
  font-weight: 1 999;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#toolbar button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;

  width: 18px;
  height: 18px;
}

#toolbar button svg {
  height: 100%;
  width: 100%;
}

#toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: .8rem;
  gap: .8rem;
}

.ql-editor {
  outline: none;
}

.ql-active {
  color: var(--acent-text-color) !important;
}

.ql-hidden {
  display: none;
}

.ql-clipboard {
  visibility: hidden;
  opacity: 0;
}

:root {
  --border-color: rgba(31, 29, 36, 0.089); 
  --acent-text-color: #597298;
  --acent-bg-color: #c5d3ea83; 

  --acent-shadow-color: #5972982c;
  --acent-page-bg: rgb(231 235 255 / 65%);

  --white-pure: #fff;
  --highlight-color: wheat;

  --text-color: #131214;
  --text-muted: #535557;
  --text-inactive: #929296;

  --highlight-color: rgb(223, 229, 255);
}