@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bodoni Moda";
  src: url('../public/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Bodoni Moda Italic";
  src: url('../public/fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz\,wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Inconsolata";
  src: url('../public/fonts/Inconsolata/variable.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Playfair Display";
  src: url('../public/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Playfair Display Italic";
  src: url('../public/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "PT Serif";
  src: url('../public/fonts/PT_Serif/PTSerif-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "PT Serif";
  src: url('../public/fonts/PT_Serif/PTSerif-Bold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "PT Serif Italic";
  src: url('../public/fonts/PT_Serif/PTSerif-Italic.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "PT Serif Italic";
  src: url('../public/fonts/PT_Serif/PTSerif-BoldItalic.ttf');
  font-weight: 800;
}

@font-face {
  font-family: "Public Sans";
  src: url('../public/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf');
  font-weight: 1 999;
}

@font-face {
  font-family: "Public Sans";
  src: url('../public/fonts/Public_Sans/PublicSans-Italic-VariableFont_wght.ttf');
  font-weight: 1 999;
  font-style: italic;
}

:root {
  --border-color: #1f1d2417; 
  --acent-text-color: #597298;
  --acent-bg-color: #c5d3ea83; 
  --acent-rgb: 89, 114, 152;

  --acent-shadow-color: #b6c0d01f;
  --acent-page-bg: #e7ebffa6;

  --white-pure: #fff;
  --highlight-color: #f5deb3;

  --text-color: #131214;
  --text-muted: #535557;
  --text-inactive: #929296;

  --highlight-color: #dfe5ff;

  --header-primary: #131214;
  --header-secondary: #9aa3af;
  --text-normal: #131214;
  --text-muted: #535557;
  --text-link: #00b0f4;
  --text-positive: #4fdc7b;
  --text-negative: #ff7878;

  --bg-positive: #64c281;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-primary: #dfe4ec;
  --background-secondary: #f5f8ff;
  --background-secondary-alt: #dfe7f7;
  --background-tertiary: #eeeeee;
  --background-accent: #4f545c;
  --background-floating: #ffffff;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79,84,92,0.16);
  --background-modifier-active: rgba(79,84,92,0.24);
  --background-modifier-selected: rgba(79,84,92,0.32);
  --background-modifier-accent: hsla(0,0%,100%,0.06);
  --info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-background: rgba(0,176,244,0.1);
  --info-help-foreground: #00b0f4;
  --info-help-text: #fff;
  --status-warning-text: #000;
  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: #2e3338;
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;
  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
  --logo-primary: #fff;
  --control-brand-foreground: #a5b3e7;
  --background-mentioned: rgba(250,166,26,0.1);
  --background-mentioned-hover: rgba(250,166,26,0.08);
  --background-message-hover: rgba(4,4,5,0.07);
  --channels-default: #8e9297;
  --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  --channeltextarea-background: #40444b;
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(32,34,37,0.6);
  --deprecated-card-editable-bg: rgba(32,34,37,0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.021);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.123);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  font-family: "Public Sans";
}

input {
  font-family: "Public Sans" !important;
}

blockquote {
  padding: calc(0.667 * 16pt) 16pt;
  color: #666;
  background-color: #fafafa;
  border-radius: 5px;
  margin: 1.5em 0;
  border: 1px solid #eaeaea;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@page {
  margin: 0;
  padding: 0;
  width: auto;
}

.tooltip-content.popover > .inner {
  padding: 0 !important;
}

@media print {
  body * {
    visibility: hidden;
    background: none;
  }

  .pageHeaderTitle {
    page-break-after: always;
  }

  #EditorDocument {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: baseline;

    zoom: 1;
  }

  #EditorDocument > div {
    padding: 0;
    margin: 0;
    page-break-after: always;
  }

  #EditorDocument, #EditorDocument * {
    visibility: visible;
  }

  #EditorDocument {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
}

#toolbar button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;

  width: 18px;
  height: 18px;
}

#toolbar button svg {
  height: 100%;
  width: 100%;
}

#toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;

  border: none;

  font-family: 'Public Sans';
}

#toolbar > div {
  display: flex;
  flex-direction: row;

  gap: .6rem;
  align-items: center;
}

.ql-picker-options {
  border-radius: 5px;
  padding: .5rem 1rem !important;
}

.ql-editor {
  outline: none;
  border: none;

  padding: 0 !important;
}

.ql-active {
  color: var(--acent-text-color) !important;
  stroke: var(--acent-text-color) !important;
}

.ql-hidden {
  display: none;
}

.ql-clipboard {
  visibility: hidden;
  opacity: 0;
}

.ql-picker:not(.ql-icon-picker, .ql-color-picker) {
  border-radius: 5px;
  border: 1px solid #ededef;
  padding: .4rem 1rem;
  font-size: .9rem;
  padding-right: .6rem;
  padding-left: .5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  grid-gap: 1rem;
  gap: 1rem;

  width: 180px !important;

  color: var(--text-muted);

  height: 35px !important;
}

.ql-icon-picker {
  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ql-color-picker .ql-picker-options > span {
  border-radius: 50%;

  height: 10px;
  width: 10px;

  border: 1px solid rgba(0, 0, 0, 0.151) !important;
}

.ql-color-picker .ql-picker-item { 
  height: 20px !important;
  width: 20px !important;
}

.ql-picker.ql-expanded .ql-picker-label {
  border-radius: 5px;
  border: 1px solid var(--border-color) !important;
}

.ql-container {
  border: none !important;
}

span.ql-picker-item[data-label="times-new-roman"]::before {
  content: "Times" !important;
  font-family: "Times New Roman" !important;
}

span.ql-picker-item[data-label="public-sans"]::before {
  content: "Public Sans" !important;
  font-family: "Public Sans" !important;
}

span.ql-picker-item[data-label="pt-serif"]::before {
  content: "PT Serif" !important;
  font-family: "PT Serif" !important;
}

span[data-label="arial"]::before {
  content: "Arial" !important;
  font-family: "Arial" !important;
}

.ql-picker-item:not(.ql-icon-picker)::before {
  font-family: "Public Sans";
}
/* Set content font-families */

.ql-font-pt-serif {
  font-family: "PT Serif";
}

.ql-font-public-sans {
  font-family: "Public Sans";
}

.ql-font-arial {
  font-family: "Arial";
}

.ql-font-times-new-roman {
  font-family: "Times New Roman";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="11px"]::before {
  content: '11px';
  font-size: 11px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
  content: '12px';
  font-size: 12px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="13px"]::before {
  content: '13px';
  font-size: 13px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: '14px';
  font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: '16px';
  font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: '18px';
  font-size: 18px !important;
}