.container {
  display: grid;
  height: 100vh;

  grid-template-columns: 16% auto;
  overflow: hidden;
}

.header {
  font-family: "PT Serif";
  font-weight: 400;

  font-size: 1.1rem;

  display: flex;
  flex-direction: column;
  height: 100%; 

  border-right: 1px solid var(--border-color);
}

.header > div:first-of-type {
  border-bottom: 1px solid var(--border-color);
}

.header > div {
  display: flex;
  flex-direction: column;

  justify-items: center;
  padding: 1.2rem 2rem;
}

.logo p {
  margin: 0;
}

.toolbar {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid var(--border-color);
}

.toolbar svg {
  cursor: pointer;
}

.toolbar * {
  margin: 0;
}

.project {
  padding: 1rem !important;
  font-family: "Public Sans";

  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 1rem;

  background-color: rgba(156, 143, 188, 0.055);
}

.project h2 {
  margin: 0;

  font-size: 1.2rem;
  font-weight: 400;

  font-family: "PT Serif";
}

.project > div:first-of-type {
  background-color: var(--acent-bg-color); /*rgba(39, 95, 179, 0.247); */
  color: var(--acent-text-color);
  
  border-radius: 5px;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.folderHeader {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.folderHeader p {
  font-weight: 400;
  font-size: .95rem;

  color: var(--text-muted);
}

.indentedFolder > div:not(:first-of-type) {
  margin-left: 1rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  gap: .5rem;
}

.indentedFolder > div:not(:first-of-type) p {
  color: var(--text-inactive);
}

.indentedFolder p {
  margin-top: .5rem;
  margin-bottom: .5rem;

  font-size: .95rem;
}

.openFolder {
  border-radius: 5px;
  background-color: var(--acent-bg-color);

  color: var(--acent-text-color) !important;
  margin: 0 !important;
  padding: 0rem 1rem;
}

.openFolder p {
  color: var(--acent-text-color) !important;
}

.indentedFolder > div:not(:first-of-type):hover {
  cursor: pointer;
}

.editorContent {
  height: 100%;

  display: flex;
  flex-direction: row;

  overflow: hidden;

  display: grid;
  grid-template-columns: auto /* 250px; */
}


@media screen and (max-width: calc(500px + 64px + 480px)) {
  .bookTools {
    display: none;
  }

  .editorContent {
    grid-template-columns: auto 0%;
  }
}

.book {
  display: grid;

  grid-template-rows: 61.38px 1fr;
  grid-template-columns: 100%;

  height: 100vh;
  position: relative;
}

.pages {
  background-color: var(--acent-page-bg);
  height: 100%;
  width: 100%;

  overflow: auto;

  padding: 2rem;
  /* padding-top: calc(2rem + 61.38px); */
  display: flex;

  align-items: center;
  flex-direction: column;

  gap: 1rem;
  position: relative;
}

.bookOverTools {
  padding: 1.2rem 2rem;
  border-bottom: 1px solid var(--border-color);

  display: flex;
  flex-direction: row;

  position: sticky;

  top: 0;
  height: 61.38px;

  width: -webkit-fill-available;

  z-index: 2;
  align-self: center;
  align-items: center;
  justify-content: space-between;

  background: rgba(255,255,255,.9);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.bookStats {
  position: fixed;

  bottom: 0;
  height: 50px;

  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 2rem;
  padding: 0rem 1rem;

  border-radius: 5px;

  background-color: var(--acent-bg-color);
  /* border: 1px solid #677ea1; */
  color: var(--acent-text-color);

  font-size: .9rem;
  font-weight: 600;

  grid-gap: 1rem;
  gap: 1rem;

  min-width: 350px;
}

.bookStats > div {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 1rem;
}

.bookStats p {
  font-weight: 600 !important;
  color: var(--acent-text-color) !important;
}

.bookOverTools h2 {
  font-size: 1rem;
  font-weight: 400; 

  font-family: "PT Serif";
}

.bookToolTable {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 1rem;
  flex: 1;

  padding: 0rem 4rem;
}

.bookOverTools > div {
  display: flex;

  flex-direction: row;
  align-items: center;

  gap: .8rem;
}

.syncStatus {
  background-color: var(--acent-bg-color);
  padding: .2rem 1rem;
  border-radius: 55px;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--acent-text-color);
}

.syncTrue {
  height: 6px;
  width: 6px;

  border-radius: 50%;
  background-color: var(--acent-text-color);
}

.syncFalse {
  height: 5px;
  width: 5px;

  border-radius: 50%;
  background-color: rgb(231, 174, 127);
}

.page {
  background-color: var(--white-pure);
  /* border: 1px solid #ededef; */

  border-radius: 5px;
  padding: 1rem 2rem;
  /* padding-bottom: 62.5%; */

  aspect-ratio: 5 8;

  /* Pixel perfect - Lachie West */

  min-width: 480px;
  max-width: 480px;
  max-height: 760px;
  min-height: 760px;

  font-family: "PT Serif";

  box-shadow: 2px 0px 16px var(--acent-shadow-color);
}

.book p {
  font-weight: 300;
  color: var(--text-inactive);
}

.book *::selection {
  background-color: var(--highlight-color);
}

.bookTools {
  min-width: 250px;
}

.bookInput {
  border: none;
  outline: none;

  width: 100%;
  resize: none;
}

.selector {
  border-radius: 5px;
  border: 1px solid #ededef;
  padding: .4rem 1rem;

  font-size: .9rem;
  padding-right: .6rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}