.button {
  padding: .5rem 2rem;
  border-radius: 5px;

  border: none;
  font-weight: 500;

  color: #fff;
  background-color: rgba(var(--color-primary-rgb), 1);

  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;

  border-radius: 3px;
  font-size: .9rem;

  width: 100%;

  height: 44px;
  min-width: 130px;
  min-height: 44px;

  font-family: "Public Sans";
}

.button svg {
  color: #fff;
}

.hoverButton {
  background-color: rgba(var(--color-primary-rgb), 0.6);
  cursor: pointer;
}

.buttonDisabled {
  /* background-color: var(--deprecated-text-input-border-disabled);
  color: var(--text-muted); */

  background-color: rgba(var(--color-primary-rgb), .4);
  color: var(--text-muted);

  cursor: not-allowed;
}

.input {
  font-size: 1rem;

  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  color: var(--text-normal);

  background-color: var(--deprecated-text-input-bg);
  border: 1px solid var(--deprecated-text-input-border);

  transition: border-color .2s ease-in-out;
  padding: 10px;
  height: 40px;

  font-family: "Public Sans" !important;
  font-weight: 300;
}

.input:focus {
  outline: none;
  border: 1px solid var(--color-primary);
  background-color: var(--background-floating) !important;
}

.container {
  display: grid;
  height: 100vh;

  grid-template-columns: clamp(200px, 16%, 400px) auto;
  overflow: hidden;
}

.header {
  font-family: "PT Serif";
  font-weight: 400;

  font-size: 1.1rem;

  display: flex;
  flex-direction: column;
  height: 100%; 

  border-right: 1px solid var(--border-color);
}

.header > div:first-of-type {
  border-bottom: 1px solid var(--border-color);
}

.header > div {
  display: flex;
  flex-direction: column;

  justify-items: center;
  padding: 1.2rem 2rem;
}

.logo p {
  margin: 0;
  cursor: pointer;
}

.logo h4 {
  color: var(--acent-text-color);
  font-family: "Public Sans";

  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}

.logo {
  display: flex;
  flex-direction: row !important;

  align-items: center;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  border: none;
  
  gap: .7rem;
  border: none !important;
}

.toolbarHidden {
  /* height: 0px !important;
  overflow: hidden; */
  display: none;
}

.toolbar svg {
  cursor: pointer;

  height: auto;
  width: auto;
}

.toolbar * {
  margin: 0;
}

.project {
  padding: 1rem !important;
  font-family: "Public Sans";

  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 1rem;

  background-color: rgba(156, 143, 188, 0.055);
}

.project h2 {
  margin: 0;

  font-size: 1.2rem;
  font-weight: 400;

  font-family: "PT Serif";
}

.project > div:first-of-type {
  background-color: var(--acent-bg-color); /*rgba(39, 95, 179, 0.247); */
  color: var(--acent-text-color);
  
  border-radius: 5px;
  padding: 1rem 2rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  padding-right: 15%;
  transition: .2s ease all;
  cursor: pointer;
}

.project > div:first-of-type:hover {
  padding-right: 2rem;
}

.folderTitle {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;
}

.folderTitle p {
  font-weight: 400;
  font-size: .95rem;

  color: var(--text-muted);
}

.folderTitle svg {
  cursor: pointer;
}

/* .folderStructure > div:not(:first-of-type) {
  margin-left: 1rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  gap: .5rem;
}

.folderStructure > div:not(:first-of-type):hover {
  background-color: var(--acent-bg-color);
}

.folderStructure > div:not(:first-of-type) p {
  color: var(--text-inactive);
} */

.folderStructure p {
  margin-top: .5rem;
  margin-bottom: .5rem;

  font-size: .95rem;
}

.folder {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  gap: 2px;
}

.folderHeader {
  color: var(--text-inactive);
}

.folder > div:not(:first-of-type){
  margin-left: 1rem;
}

.folderHeader > div:first-of-type, .openFolderHeader > div:first-of-type, .subFile, .file, .openFile {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: .5rem;
}

.file, .subFile {
  margin-left: 1rem;
}

.subFile {
  cursor: pointer;
}

.openFile {
  border-radius: 5px;
  background-color: rgba(var(--acent-rgb), 0.1);

  color: var(--acent-text-color) !important;
  margin: 0 !important;
  padding: 0rem 1rem;
  cursor: default;
}

.folderHeader {
  margin: 0 !important;
  padding: 0rem 1rem;
}

.openFolderHeader {
  border-radius: 5px;
  background-color: var(--acent-bg-color);

  color: var(--acent-text-color) !important;
  margin: 0 !important;
  padding: 0rem 1rem;
}

.openFolderHeader p {
  color: var(--acent-text-color) !important;
}

.indentedFolder > div:not(:first-of-type):hover {
  cursor: pointer;
}

.editorContent {
  height: 100%;

  display: flex;
  flex-direction: row;

  overflow: hidden;

  display: grid;
  grid-template-columns: auto /* 250px; */
}


@media screen and (max-width: calc(500px + 64px + 480px)) {
  .bookTools {
    display: none;
  }

  .editorContent {
    grid-template-columns: auto 0%;
  }
}

.book {
  display: grid;

  grid-template-rows: 38px 1fr;
  grid-template-columns: 100%;

  height: 100vh;
  position: relative;
}

.pages {
  /* background-color: var(--acent-page-bg); */
  background-color: rgb(248, 249, 250);
  height: 100%;
  width: 100%;

  overflow: auto;

  padding: 2rem;
  /* padding-top: calc(2rem + 61.38px); */
  display: flex;

  align-items: center;
  flex-direction: column;

  gap: 1rem;
  position: relative;
  
  /* Default Zoom of 150% */
  zoom: 150%; 
}

.bookOverTools {
  padding: .33rem 1.5rem;
  border-bottom: 1px solid var(--border-color);

  display: flex;
  flex-direction: row;

  position: sticky;

  top: 0;
  /* height: 61.38px; */
  height: 100%;

  width: -webkit-fill-available;

  z-index: 2;
  align-self: center;
  align-items: center;
  justify-content: space-between;

  /* background: rgba(255,255,255,.9);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); */
}

.content {
  /* display: flex;
  flex-direction: column; */

  display: grid;
  grid-template-rows: 62px auto;
}

.bookStats {
  position: fixed;

  bottom: 0;
  height: 50px;

  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 2rem;
  padding: 0rem 1rem;

  border-radius: 5px;

  background-color: var(--acent-bg-color);
  /* border: 1px solid #677ea1; */
  color: var(--acent-text-color);

  font-size: .9rem;
  font-weight: 600;

  gap: 2rem;

  min-width: 350px;
  font-family: "PT Serif";
}

.bookStats > div {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 1rem;
}

.bookStats > div > div {
  background-color: var(--white-pure);
  border-radius: 50%;

  height: 22px;
  width: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.bookStats p {
  font-weight: 600 !important;
  color: var(--acent-text-color) !important;
}

.bookOverTools h2 {
  font-size: 1rem;
  font-weight: 400; 

  font-family: "PT Serif";
}

.bookToolTable {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 1rem;
  flex: 1;

  /* padding: 0rem 4rem; */
}

.bookOverTools > div {
  display: flex;

  flex-direction: row;
  align-items: center;

  gap: .8rem;
}

/* .syncStatus {
  background-color: var(--acent-bg-color);
  padding: .2rem 1rem;
  border-radius: 55px;

  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--acent-text-color);

  font-family: "PT Serif"; 
}*/

.syncTrue {
  height: 6px;
  width: 6px;

  border-radius: 50%;
  background-color: var(--acent-text-color);
}

.syncFalse {
  height: 5px;
  width: 5px;

  border-radius: 50%;
  background-color: rgb(231, 174, 127);
}

.page {
  background-color: var(--white-pure);
  /* border: 1px solid #ededef; */

  /* border-radius: 5px; */
  padding: 1rem 2rem;

  padding: 2rem;
  /* padding-bottom: 62.5%; */

  /* aspect-ratio: 5 8; */
  /* Pixel perfect - Lachie West */

  min-width: 480px;
  max-width: 480px;

  /* min-height: 760px; */
  /* max-height: 760px; */
  /* min-height: 760px;  */

  /* box-shadow: 2px 0px 16px var(--acent-shadow-color); */
  box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

.page h2 {
  /* margin: 0; */

  font-size: 1.2rem;
  font-weight: 400;

  margin-top: 0;

  font-family: "Bondi Moda";

  background-color: rgba(var(--acent-rgb), 0.1);
  padding: .5rem 1rem;
}

.page > input {
  font-size: 1.2rem;
  font-weight: 400;

  font-family: "Bondi Moda" !important;

  background-color: var(--acent-bg-color);
  padding: .5rem 1rem;

  outline: none;
  border: none;

  width: 100%;

  margin-top: 0 !important;

  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.book p {
  font-weight: 300;
  color: var(--text-inactive);
}

.book *::selection {
  background-color: var(--highlight-color);
}

.bookTools {
  min-width: 250px;
}

.bookInput {
  border: none;
  outline: none;

  width: 100%;
  resize: none;
}

.selector {
  border-radius: 5px;
  border: 1px solid #ededef;
  padding: .4rem 1rem;

  font-size: .9rem;
  padding-right: .6rem;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}

.chapterSectionHeader {
  background: var(--acent-bg-color);
  border-radius: 5px;
  padding: .5rem 1rem;
  color: var(--acent-text-color);
}

.book {
  height: calc(100vh - 62px) !important;
}

.bookCaptionBar {
  height: 38px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  grid-gap: .5rem;
  /* gap: .5rem; */
  padding: 0 1rem;
  z-index: 1;
  
  /*-webkit-box-shadow: 0px 0px 15px 2px #444a501f;
  box-shadow: 0px 0px 15px 2px #444a501f; */

  box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

.bookCaptionBar > div {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: .5rem;
}

.bookCaptionBar p {
  font-family: "Public Sans";
  font-size: .8rem;
}

.fixedPageSpec {
  /* display: grid !important; */
  width: auto;
  justify-content: center;

  grid-template-columns: auto auto auto;
}

.fixedPageSpec p {
  text-align: right;

  user-select: none;
}

.fixedPageSpec svg {
  cursor: pointer;
}

/* .book {
  grid-template-rows: 35px 1fr;
} */

.centerActions {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;

  gap: 2rem !important;
}

.centerActions > div {
  display: flex;
  align-items: center;
  cursor: pointer;

  gap: .5rem;
}

.projectView {
  background-color: #F5F7F9;
  padding: 4rem 4rem;

  font-family: 'Public Sans' !important;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.projectView h1 {
  font-weight: 600;
  font-size: 1.3rem;
  color: #101011;
  margin: 0;
}

.userComponent {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;

  padding: 1.2rem 2rem;
  padding: 1.4rem 1.4rem !important;
  border-top: 1px solid var(--border-color);
}

.userComponent p {
  margin: 0;
}

.projectCard {
  border: 1px solid var(--border-color);

  background-color: var(--white-pure);

  min-width: 350px;
  width: 25%;
  border-radius: 5px;
  overflow: hidden;

  /* box-shadow: 0px 0px 2px 1px var(--background-modifier-active); */
  /* border-top: none;
  border-right: none;
  border-left: none; */
}

.projectCard:hover {
  cursor: pointer;

  border-color: #bab8c2;
  background-color: #fafbfb;
}

.projectCard > div:not(.cardTitle) {
  padding: 1rem;
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 2.2rem;

  border-bottom: 1px solid var(--border-color);
  /* border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color); */
}

.projectCard > div:not(.cardTitle):last-of-type {
  border-bottom: none;
}

.projectCard > div:not(.cardTitle) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .6rem;
}

.projectCard > div p {
  margin: 0;
}

.cardTitle {
  background-color: #132742;
  height: 150px;

  padding: 1.5rem;

  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.cardTitle h1 {
  font-family: 'PT Serif';
  font-weight: 300;
  font-size: 1.6rem;

  color: var(--white-pure);
}

.headerIntermediary {
  display: flex;
  flex-direction: column;

  padding: 1rem !important;

  gap: .8rem;

  flex: 1 1;
  background-color: rgba(156, 143, 188, 0.055);

  font-family: 'Public Sans';
}

.navItem {
  display: flex;
  flex-direction: row;

  /* justify-content: space-between; */
  align-items: center;

  font-size: .95rem;
  gap: 1rem;

  padding: .8rem 1rem;
  border-radius: 5px;

  background-color: transparent;
  cursor: pointer;
}

.navActive {
  background-color: var(--acent-bg-color);
  color: var(--acent-text-color);
}

.exportModalContent {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.exportModalContent > div {
  height: auto !important;
}
/* .addChapter {
  position: fixed;

  align-self: flex-end;
  justify-self: flex-end;

  border-radius: 50%;
  background-color: var(--acent-bg-color);

  height: 30px;
  width: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
} */

.checkboxElement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.snippet * {
  text-overflow: ellipsis;
  width: auto;
  overflow: hidden;
}

/* 
.viewOnlySync {
  background-color: #e6b01c4f;
  color: #745708;
} */

/* @keyframes unsavedIN {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(20px);
  }
}

.unSavedChanges {
  animation: unsavedIN .55s ease 0s 1;

  width: 90%;
  align-self: center;
  justify-content: center;
  background-color: rgba(var(--acent-rgb), 0.8);

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  transform: translateY(20px);

  padding: .2rem 1rem;
  color: var(--white-pure);
} */


.Error404 {
  background-color: rgba(var(--acent-rgb), 0.1);

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  overflow: hidden;

  position: relative;
}

.Error404 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Error404 .logo {
  position: absolute;
  top: 5%;
  left: 5%;

  gap: 1rem;
}

.Error404 .logo p {
  font-family: "PT Serif";
}

.Error404 h1 {
  opacity: 1;

  color: rgba(var(--acent-rgb), 0.15);
  user-select: none;

  position: absolute;
  bottom: 5%;
  right: 5%;

  font-size: 15rem;
  margin: 0;
}

.Error404 h2 {
  font-weight: normal;
  font-size: 1.4rem;
}

.folderDefault {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.folderDefault > div:first-of-type {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: .5rem;

  flex: 1;
}

.folderNewItem {
  display: flex;
  align-items: center;
  justify-content: center;
  
  transition: .4s ease all;
  gap: .5rem;
}

.folderNewItem > svg {
  opacity: 0.2;
}

.folderNewItem > svg:hover {
  cursor: pointer;
  opacity: 1;
}

.visionBoardCanvas {
  width: 100%;
  height: 100%;
  position: relative;

  background-size: 10px 10px;
  background-image: radial-gradient(circle, rgba(var(--acent-rgb), .3) 1px, rgba(255, 255, 255, 0) 0px);
}

.visionBoard {
  background-color: var(--white-pure);

  width: fit-content;

  -webkit-box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
  box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

.visionBoard > div:not(:first-of-type) {
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 0;
}

.visionBoard > div:last-of-type {
  padding: 1rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

.visionTitle input {
  font-size: 1.2rem;

  color: #323b4a;
  font-weight: normal;

  font-family: "Public Sans" !important;

  outline: none;
  border: none;

  width: fit-content;

  margin-top: 0 !important;
  margin: 0;

  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.dragBar {
  width: 100%;
  height: 4px;
  background-color: rgba(var(--acent-rgb), 1);
}

.visionPage {
  height: 100%;
  width: 100%;

  background-color: rgba(var(--acent-rgb), 0.05);
}

.projectPageHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
}

.createProject {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.centerLoader {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "PT Serif";
}

.createProjectPage {
  background-color: rgba(var(--acent-rgb), .1);
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-size: 10px 10px;
  background-image: radial-gradient(circle, rgba(var(--acent-rgb), .3) 1px, rgba(255, 255, 255, 0) 0px);
}

.createProjectPage h1 {
  font-family: "PT Serif";
  margin: 0;
}

.createProjectPage > div {
  background-color: var(--white-pure);
  border: 1px solid var(--border-color);
  /* box-shadow: rgb(60 64 67 / 15%) 0px 1px 3px 1px; */

  border-radius: 5px;
  padding: 2rem 2rem;
}

.projectList {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

